<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>List Users</title>
  <link rel="stylesheet" type="text/css" href="webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div>
  <h1>List of Products</h1>
</div>

<div>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Quantity to Add</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="product: ${listProducts}">
      <td th:text="${product.name}">Name</td>
      <td th:text="${product.price}">Price</td>
      <td th:text="${product.availableQuantity}">Quantity</td>
      <td><input type="number" id="quantity" name="quantity" min="1"></td>
      <td><a href="/api/cart/add">Add to cart</a></td>

    </tr>
    </tbody>
  </table>
</div>

<div>
  <h1>Shopping Cart Items</h1>
</div>


<div>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cart: ${listCart}">
      <td th:text="${cart.productName}">Name</td>
      <td th:text="${cart.quantity}">Quantity</td>
      <td th:text="${cart.amount}">Amount</td>

    </tr>
    </tbody>
  </table>
</div>

<h1>Customer Details</h1>
<form action="/action_page.php">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" ><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" ><br><br>
  <input type="submit" value="Submit Order">
</form>




</body>
</html>
